@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --selected: #6feaf6;
  --text-color: #777;
  --clr-white: #fff;
  --clr-dark: #1c2042;
  --max-width: 1140px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* global css */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.8em 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: #fff;
  border: 2px solid #1c2042;
}

.row {
  display: flex;
}

.text {
  margin: 0.6rem 0;
}

.bold {
  font-weight: 900;
}

.movie-container {
  margin: 1.25rem 0;
}

#movie {
  background-color: var(--clr-white);
  border: 0;
  border-radius: 0.4rem;
  font-size: 1rem;
  margin-left: 0.8rem;
  padding: 0.4rem 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.seat {
  background-color: var(--text-color);
  background-size: contain;
  height: 1.25rem;
  width: 1.75rem;
  margin: 0.5rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.seat.selected {
  background-color: var(--selected);
}

.seat.occupied {
  background-color: var(--clr-white);
}

.seat:hover {
  cursor: pointer;
}

.showcase-container .seat:hover {
  cursor: default;
}

.seat.occupied:hover {
  cursor: default;
}

.seat:nth-of-type(3) {
  margin-left: 1.5rem;
}

.seat:nth-last-of-type(3) {
  margin-left: 1.5rem;
}

.showcase-container {
  min-width: 15rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.showcase-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 5px;
}

.showcase-container li small {
  margin-left: 4px;
}

.screen-container {
  width: 21rem;
  perspective: 1200px;
  margin: 1.5rem 0;
}
.screen {
  background-color: var(--clr-white);
  height: 7rem;
  width: 100%;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
